@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 131px 70px 0 70px;
}

.App {
    margin: 0 auto;
    --header_height: 60px;
}

.hw {
    padding: 26px 0px 32px 0px;
    max-width: 100%;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0px 0px 10px 0px;
}